:root {
  --main-background-color: #ffffff;
  --main-danger: #ff0000;
  --main-bg-color: #16747e;
  --main-text-color: #000000;
  --main-contrast-color: #728ec6;
  --main-contrast-color-secondary: #596d96;
  --main-bg-transparency: rgba(255, 255, 255, 0.8);
  --main-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  /* --main-contrast-color: #003399; */
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-contrast-color);
  font-weight: bold;
}

.header-text {
  color: var(--main-contrast-color);
  font-size: 18px !important;
}

label {
  margin-bottom: 0px;
}

.form-group {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

.btn.btn-outline-info {
  color: var(--main-contrast-color);
  border-color: var(--main-contrast-color);
}

.btn.btn-outline-info:focus {
  color: var(--main-background-color);
  background-color: var(--main-contrast-color-secondary);
  border-color: var(--main-contrast-color-secondary);
}

.btn.btn-outline-info:focus-visible {
  box-shadow: var(--main-box-shadow);
}

.btn.btn-outline-info:hover {
  color: var(--main-background-color);
  border-color: var(--main-contrast-color);
  background-color: var(--main-contrast-color);
}

.btn.btn-outline-info:active,
.btn.btn-outline-info.active {
  color: var(--main-background-color);
  background-color: var(--main-contrast-color-secondary);
  border-color: var(--main-contrast-color-secondary);
}
